@charset "UTF-*";
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Catamaran:wght@500&display=swap');
*{margin: 10px; padding: 0px;} Tira as margens da página.
html, body{min-height: 100vh; background-color: aliceblue; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
:root{--corheader:blue; --cornav:rgba(0, 0, 255, 0.582); --cor3:green;  --fonte1: 'Alkatra', cursive; --fonte2: 'Catamaran', sans-serif;} 


header{text-align: center; background-color: var(--corheader); color: white; padding: 20px; }

nav{text-align: center; background-color: var(--cornav);}
nav>a{margin: 0px 20px 0px 20px;  color: white; text-decoration: none;}

main{ }

section{padding: 5vh 5vh 5vh 5vh ; line-height: 2em; font-family: var(--fonte1); font-size: 3vw;} /*Espaço em volta da caixa de texto p - Fonte size em muda o tamnaho do text box, com vw é o texto que dimensiona-se*/
section.fundo{background-attachment: fixed; box-shadow: inset 3px 3px 6px  black;}
section.fundo>p{background-color: rgba(0, 0, 0, 0.116);  color: white; padding: 10px 30px 30px 20px; text-shadow: 2px 2px 2px black;  width: 40vw; margin: 3px;}

section.normal{background-color: white; color: black;}

section#img1{background-image: url('Imgs/img1.jpg'); background-size: cover;}
section#img2{background-image: url('Imgs/img2.jpg'); background-size: cover;}
section#img3{background-image: url('Imgs/img3.jpg'); background-size: cover;}
section#img4{background-image: url('Imgs/img4.jpg'); background-size: cover;}
section#img5{background-image: url('Imgs/img5.jpg'); background-size: cover;}
section#img6{background-image: url('Imgs/img6.jpg'); background-size: cover;}
section#img7{background-image: url('Imgs/img7.jpg'); background-size: cover;}
section#img8{background-image: url('Imgs/img8.jpg'); background-size: cover;}
footer{text-align: center; background-color: var(--corheader); color: white; margin-top: 20px;}