@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Catamaran:wght@500&display=swap');
*{margin: 0px; padding: 0px;}  /* Espaço entre as sections . Espaço do texto das sections */

header{background-color: #07273b; color: white; text-align: center;padding: 10px; line-height: 20px;
    border-style:solid; border-color: red; border-width: 1px; font-family:'Catamaran'}
    header>h3{font-variant: small-caps; color: aqua;}

nav{text-align: center; background-color:#113750; border-style:solid; border-color: red; border-width: 1px;}
nav>a{ color: yellow; margin:0px 20px 0px 20px; }
nav>a:hover{color: aliceblue;}

section{font-family:  'Alkatra', cursive; font-size: 3vw; padding: 5vh;} /*Padding delimita o box de sombra de fundo*/
section.imagem{background-color: #1137509a; background-attachment: fixed; background-repeat: no-repeat;}
section.imagem>p{color: #ffffff; width: 40vw; background-color: #0a0a0a65; padding: 40px; }
section.normal{}

section#img1{background-image: url('estatua.jpg');background-size:100vw;}
section#img2{background-image: url('flor.jpg');   background-size:contain}
section#img3{background-image: url('templo.jpg'); background-size:cover;}








footer{text-align: center; background-color: #07273b; color: white;}