@charset "UTF-8";
:root{--cor1:green; --cor2:rgba(0, 128, 0, 0.795);}
*{margin:0; padding: 0;}

header{ background-color: var(--cor1); padding: 10px; text-align: center; color: antiquewhite;}
nav{background-color: var(--cor2); color: aliceblue; text-align: center;}
nav>a{margin-right: 11vw;}
main{font-family: 'Courier New', Courier, monospace; font-size: 2vw; }

section{padding: 10px; margin: 10px; line-height: 2em;}
section.imagem{background-attachment: fixed; color: white;}
section.imagem>p{background-color: rgba(0, 0, 0, 0.466); width: 60vw; padding: 30px 10px 30px 10px; margin:20px ;}
section#img1{background-image: url('oculos.jpg');background-position: center center;background-size: 100% ;}
section#img2{background-image: url('oculos.jpg');background-position: center center; background-size: cover;}
section#img3{background-image: url('oculos.jpg'); background-position: center center; background-size:100vf;}

section.normal{color:black;}



footer{text-align: center; background-color: var(--cor1); color: white; margin-top: 20px;}