@charset "UTF-8";

body{ } 

header{ background-color: greenyellow; border-radius:  20px 20px 0px 0px; padding: 15px; margin-bottom: 1px;}
header{text-align: center;}

nav{background-color: red;  padding: 5px; margin: 5px 0px 5px 0px; text-align: center;}
nav>a{padding: 20px;}

main{ background-color: greenyellow; border-radius: 0px 0px 20px 20px; padding: 20px;}

section{ }

article{ }

footer{background-color: red; border-radius: 20px; text-align: center;}

p::first-line {
    color: blue;
    text-transform: uppercase;
  }

  article::first-letter{color: red;}