@charset "UTF-8";

:root{--cor1:#B75050; --cor2:rgb(143, 175, 143); --cor3:#6E1111; --cor4:#460000; --cor5:#FFFFFF;}

body{background-color: var(--cor5); }

header{text-align: center; background-color: var(--cor4); color: var(--cor5);}

nav{background-color:var(--cor3); text-align: center;  padding: 5px;}
nav>a{margin:20px; background-color: var(--cor4); border-radius: 20px; text-decoration: none; color:white;}
a:hover{color: var(--cor2);}

main{ }

section{ }

article{ }

footer{text-align: center; background-color: var(--cor3); color: var(--cor5);}

