@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Catamaran:wght@500&display=swap');
*{margin: 0px; padding: 0px;} /* Margem da página e em volta dos textos do menu, header... */
:root{--corheader:rgb(13, 48, 146); --cornav:rgba(10, 67, 221, 0.938); --cormain:green; 
    --corsection:gray; --corfooter:yellow; --fonte1: 'Alkatra', cursive; --fonte2: 'Catamaran', sans-serif;}
html, body{background-color: rgb(226, 64, 14); color: black; min-height: 100vh;} /*Fundo básico */

header{text-align: center; background-color: var(--corheader);padding: 20px 0px 10px 0px; color: yellow;}

nav{text-align: center; background-color: var(--cornav); font-size: 1.5vw;}
nav>a{color: white; padding: 40px;}

main{}

section{padding: 5vh 0vh 7vh 10vh; line-height: 2em; font-size: 2vw; font-family: var(--fonte1);}
 /*vh faz as letras se ajustarem  */

section>p{ }
section.normal{ }
section.normal>p{padding: 0px;} 

section.imagem{background-attachment: fixed; background-color: rgb(7, 7, 7); color: white; box-shadow: inset 6px 6px 6px black;}
section.imagem>p{background-color: rgba(0, 0, 0, 0.349); color: white; width: 50vw;
     padding: 2vw 5vw 2vw 3vw; margin: -4px; text-shadow: 5px 5px 5px black;}

section#img1{background-image: url('imgs/janisquad.jpg'); background-size:cover; background-repeat: no-repeat; background-position: left;}
section#img2{background-image: url('imgs/debie.jpg'); background-size: cover; background-repeat: no-repeat;}
section#img3{background-image: url('imgs/joss.jpg');  background-size: cover; background-repeat: no-repeat;}
section#img4{background-image: url('imgs/nina.jpg');  background-size: cover; background-repeat: no-repeat;}

footer{text-align: center; background-color:blue; color: aliceblue;}