@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Catamaran:wght@500&display=swap');
:root{--cor1:#554700; --cor2:#d4c26a; --cor3:#554700f5; --fonte1: 'Alkatra', cursive; --fonte2: 'Catamaran', sans-serif;}


header{text-align: center; background-color: var(--cor1); color: white; line-height: 1em; padding: 20px; font-family:var(--fonte1) ;}
nav{text-align: center; background-color: var(--cor3);}
nav>a{margin: 0px 30px; 0px 30px; color: rgb(94, 146, 135); text-decoration: none;}

main{ }

section{font-family: var(--fonte2); font-size: 2em;}
section>p{padding: 20px;}
section.fundo{color:white; background-attachment: fixed;}
section.fundo>p{background-color: rgba(0, 0, 0, 0.397); width: 40vw; margin: 20px; }
section.limpo{color: black;}


section#img1{background-image: url('fotos/igreja.jpg'); background-size: 100%;}
section#img2{background-image: url('fotos/janela.jpg');background-size: cover;}
section#img3{background-image: url('fotos/mercado.jpg');background-size: 100%;}
section#img4{background-image: url('fotos/pan.jpg'); background-size: 100%;}
section#img5{background-image: url('fotos/sucata.jpg');background-size: 100%;}

footer{text-align: center; background-color: var(--cor1); color: white;}