@charset "UTF-8";

:root{--cor1:#ff0000; --cor2:#00ff00; --cor3:#c1c1fa;}

body{ }

header{background-color: var(--cor1); text-align: center; border-radius: 20px 20px 0px 0px; padding: 5px;}

nav{ background-color: var(--cor2); text-align: center;}
nav>a{margin: 30px;}

main{ }

section{background-color: var(--cor3); }

article{ }

footer{background-color: var(--cor1); text-align: center; border-radius: 0px 0px 20px 20px;}
