@charset "UTF-8";

/* CORES */


body{background-color: #e6e3c6; }

header{text-align: center;  background-color:#ADA117 ;  line-height:1px; padding: 1px; }

nav{background-color:#867d14 ;  text-align: center; }
nav>a{margin-right: 20px; margin-left: 20px;}  /*Espaço entre os links*/

main{background-color:#ADA117 ;
margin: 20px;  /*Espaço em volta da caixa do Main - Diminui o tamanho do box Main*/
padding: 20px;  /* Espaço em volta do texto  */
}

section{ }

article{ }
article>p{text-indent: 30px;}   /* dois dedos */

footer{background-color:#ADA117 ; text-align: center;}






