@charset "UTF-8";


<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">



h1{font-family: 'Kaushan Script', 'fantasy',cursive;}


p{font-family: 'Kaushan Script', 'fantasy',cursive;}

h2{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}


