@charset "UTF-8";
*{margin: 0px; padding: 0px; font-family: Arial, Helvetica, sans-serif;}
html, body{height:100vh; width: 100vw; background-color: blanchedalmond;}
body{background-image:url('imagens/fundo.jpg'); background-size:cover; background-attachment: fixed ;
    background-repeat: no-repeat top center;}

main{height: 100vh; position: relative; }

section#tv {position: absolute; top: 50%;  left: 50%; transform: translate(-70%, -50%);
            width: 950px;   height: 400px;
            background: url('imagens/tv.png')  no-repeat sienna ;
}

iframe#tela{position: relative; top: 240px; left: 130px; width: 320px; height: 220px; border-radius: 20px;}

section#bichos img{width: 50px; margin: 10px; border-radius: 50%; box-shadow: 2px 2px 2px red; box-sizing: border-box;}

section#bichos{text-align: right;}

section#bichos img:hover{transform: translate(-10px, -10px); 
    box-shadow: 3px 5px 11px 5px rgb(78, 71, 71);
    transition: transform 0.5s; border: 1s;}

/*section#redes-sociais img:hover{
    border: 2px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px black;
    transition: transform 0.5s, border 1s;}
    */